# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# misc
.DS_Store
*.log
coverage/

# prisma
apps/api/prisma/*.db

# electron
apps/desktop/release/

# mídia enviada em runtime
apps/api/uploads/
